.header {
  nav {
    margin: 10px 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;

    & a + a,
    span + a {
      margin-left: 12px;
    }

    & div {
      margin-right: auto;
      display: flex;
      gap: 6px;
    }
  }

  & .cartImage {
    text-align: end;
  }
}
.body {
  height: 100%;
}

.footer {
  background-color: #b6b6b6;
  color: #383838;
  height: 200px;
}
